# Environment Configuration for Local Development (Without Docker)

# PostgreSQL Database Connection
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/smart_cart?schema=public"

# Redis Cache Connection
REDIS_URL="redis://localhost:6379"

# Typesense Search Engine Connection
TYPESENSE_API_KEY="xyz123typesenseapikey"
TYPESENSE_HOST="localhost"
TYPESENSE_PORT="8108"
TYPESENSE_PROTOCOL="http"

# API Port
PORT=3000
